.widget_rental_search {
	margin-bottom: 30px;
	.advance_search_query {
		z-index: 9;
		position: relative;
	}
	.advance_search_query {
		h1, h2, h3, h4, h5 {
			font-family: inherit !important;
			font-weight: bold;
		}
		.form-title {
			font-size: 18px;
			margin-top: 0;
			margin-bottom: 20px;
			text-transform: uppercase;
		}
		&.booking-form {
			.form-group {
				padding: 0;
				input {
					width: 100%;
					font-size: 14px;
				}
				textarea {
					min-height: 150px;
					font-size: 14px;
					border-radius: 5px;
				}
				&:last-of-type {
					margin-bottom: 0;
				}
			}
			.form-content .form-group:nth-of-type(3):before {
				background-color: transparent;
			}
		}
		.form-content .form-group.living-area input {
			min-width: 100%;
		}
	}
	.form-content {
		display: block;
		.form-group {
			display: block;
			&.small {
				display: inline-block;
				// width: 45%;
			}
		}
		.button {
			float: none;
			min-width: 240px;
			padding: 13px 40px;
			margin-bottom: 0;
		}
	}
}
.shortcode-widget-area {
	.advance_search_query {
		position: relative;
		z-index: 99;
		.form-content {
			display: block;
			.form-group {
				display: block;
				&.small {
					display: inline-block;
				}
				.button {
					float: none;
				}
			}
		}
	}
}
.blog-content-right {
	.widget_rental_search .form-bg.seven {
		padding: 30px 10px;
	}
	.widget_rental_search .form-content .button {
		padding: 13px 30px;
		min-width: 100%;
	}
}


.tagcloud {
	a {
		border: 1px solid #e1e1e1;
		display: block;
		color: black;
		float: left;
		font-size: 12px !important;
		font-weight: 600;
		line-height: 1.4em !important;
		margin-bottom: 5px;
		margin-right: 5px;
		padding: 6px 17px;
		position: relative;
		text-decoration: none;
		white-space: nowrap;
		letter-spacing: 0.05em;
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		-webkit-transition: all 0.2s linear 0s;
		transition: all 0.2s linear 0s;
		&:hover {
			color: white;
		}
	}
}


.widget_houserent_latest_posts {
	.post-content {
		margin-bottom: 20px;
		border-bottom: 1px solid #ECECEC;
		padding-bottom: 20px;
		&:last-child {
			border-bottom: 0 none;
			margin-bottom: 0;
			padding-bottom: 0;
		}
	}
	.image-content {
		margin-right: 15px;
		float: left;
		width: 75px;
		height: 75px;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
		}
	}
	.post-title {
		display: table-cell;
		h5 {
			font-size: 16px;
			font-family: $font__body;
			margin-top: 0;
			margin-bottom: 5px;
			color:#000;
			font-weight: bold;
		}
		span {
			font-size: 12px;
			font-weight: 500;
			color: #828282;
			font-family: $font__body;
		}
	}
}

.widget_categories {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			line-height: 30px;
		    border-bottom: 1px solid #ECECEC;
		    margin-bottom: 20px;
		    font-weight: bold;
		    &:last-child {
		    	margin-bottom:0;
		    	border-bottom:0;
		    }
		    span {
		    	float: right;
		    }
		    &:hover {
		    	color:#3FB476;
		    }
		}
	}
}

.widget_advertisement {
	padding: 0;
}
.widget_apartment {
	padding: 0;
	.apartments-content {
		margin-bottom: 0;
	}
}

.widget.widget_houserent_rental_category {
	ul {
		list-style: none;
		margin: 0;
		padding: 0 30px;
		li {
			position: relative;
			line-height: 45px;
			font-size: 16px;
			font-weight: 600;
			color:#3A3A3A;
			border-bottom:none;
			&:before {
				position: absolute;
				content: "";
				background-color: #D8D8D8;
				width: 15px;
				height: 2px;
				left: -27px;
				top: 20px;
				@media only screen and (max-width: 992px) {
					left: -20px;
				}
			}
		}
	}
}
.instagram-image-content {
	padding-top: 10px;
	> a {		
		width: 110px;
		display: inline-block;
		height: 110px;
		margin-right: 4px;
		overflow: hidden;
	}
	img {
		width: 100%;
		height: 100%;
	}
}

/*--------------------------------------------------------------
# Calender Widget
--------------------------------------------------------------*/
.widget_calendar {
	position: relative;
	#calendar_wrap {
		position: relative;
	}
	table {
		margin: 0;
	}
	td,
	th {
		font-size: 0.8em;
		line-height: 2.555em;
		text-align: center;
		padding: 0;
	}	
	caption {
		font-weight: bold;
		text-align: center;
		color: $color__white;
		margin: 0;
		letter-spacing: 0.04em;
		text-transform: uppercase;
		padding: 0.5em 1em;
	}
	tbody a {
		-webkit-tap-highlight-color: rgba($color__white, 0.3);
		color: $color__white;
		display: block;
		font-weight: bold;
		&:hover, &:focus {
			color: $color__white;
		}
	}
}
/*--------------------------------------------------------------
# Categories And Archive Widget
--------------------------------------------------------------*/
.widget_categories,
.widget_archive,
.widget_layered_nav {
	ul li {
		font-size: 16px;
		font-weight: 600;
		display: block;
		line-height: 1em;
		padding-top: 20px !important;
		margin-top: 15px !important;
		border-top: 1px solid $color__border-one;
		border-bottom: 0 none !important;
		@include prefixed(transition, all .25s ease-in 0s);
		position: relative;
		ul {
			padding-left: 15px;
		}
		.count {
			position: absolute;
			right: 0;
		}
	}
	> ul > li:first-child {
		border: 0 none;
		padding-top: 0 !important;
		margin-top: 0 !important;
	} 
}
/*------------------------------------------------------------------------
# Links, Meta, NavMenu, Pages, Recent Comment, Recent Entries  Widget
-------------------------------------------------------------------------*/
.widget_links,
.widget_meta,
.widget_nav_menu,
.widget_pages,
.widget_recent_comments,
.widget_recent_entries,
.widget_product_categories {
	font-size: 14px;
	a {
		border: 0;
		font-weight: 600;
		text-decoration: none;
	}
	ul {
		list-style: none;
		margin: 0;
		li {
			margin-top: 15px;
			padding-top: 15px;
			border-top: 1px solid $color__border-two;
			border-bottom: 0 none;
		}	
	}
	> ul {
		position: relative;
	}
	> ul > li:first-child {
		margin-top: 0;
		padding-top: 0;
		border-top: 0 none;
	}
}
.widget {
	.menu {
		position: relative;
		> li:first-child {
			border-top: 0 none;
			padding-top: 0;
		}
	}
}

.product-categories .children,
.widget_nav_menu .sub-menu,
.widget_pages .children {
	border: 0;
	margin: 0 0 0 1em;
}
.widget_recent_entries .post-date {
	display: block;
}

.widget_nav_menu {
	.menu {
		> li:first-child {
			padding-top: 0;
			margin-top: 0;
		}
		> li:last-child {
			padding-bottom: 0;
		}
		li {
			position: relative;
		}
		.menu-click {
			display: none;
		}
	}
	.fa-angle-down {
		display: none;
	}
}

/*--------------------------------------------------------------
# RSS Widget
--------------------------------------------------------------*/
.widget_rss {
	ul {
		list-style: none;
		margin: 0;
		&:last-child {
			margin-bottom: 0;
		}
	}
	li {
		margin-bottom: 1.6em;
		padding-bottom: 25px;
		&:last-child {
			margin-bottom: 0;		
		}
		.rssSummary {
			margin: 5px 0;
		}
	}
	.rsswidget {
		border: 0;
		font-weight: 700;
	}
	.rsswidget img {
		margin-top: -4px;
	}
	.rss-date, cite {
		font-size: 0.8em;
		font-style: normal;
		display: block;
		line-height: 2;
		opacity: 0.8;
	}
	> p {
		position: relative;
	}
}

/*--------------------------------------------------------------
# Search Widget
--------------------------------------------------------------*/
.widget_search {
	.input-group .form-controller {
		display: table-cell;
	}
	.form-controller {
		height: 43px;
	}
	button {
		@include prefixed(border-radius, 0);
		padding: 0.75em 1em;
	}
	.btn-search {
		i {
			position: relative;
			top: -1px;
			vertical-align: middle;
		}
	}
	.dropdown.dropdown-lg {
		display: none;
	}
	.input-group-btn .btn-primary {
		.fa {
			color: #ffffff !important;
		}
	}
}
.widget_apartment {
	.apartments-content .bottom-content {
		margin-top: 0;
	}	
	.apartments-content + .apartments-content {
		margin-top: 30px;
	}
	.text-content {
		padding: 0 !important;
	}
	.bottom-content {
		text-align: left;
		a {
			color: inherit;
		}
		li {
			border-bottom: 0 none !important;
		}
	}
}
.widget_rental_search {
	.form-content .form-group.max-price:before {
		top: 47px;
	}
}

.jr-insta-thumb ul.thumbnails li img {
	border-radius: 5px !important;
}
.widget {
	.gallery-item {
		margin-bottom: 0 !important;
	}
}