.menu-item:not(.menu-item-depth-0) .field-mtype, .menu-item:not(.menu-item-depth-0) .field-mcats_layout,  .menu-item:not(.menu-item-depth-0) .field-mcustom {
    display: none;
}
.field-mdisplay {
    margin-top: -15px !important;
}
.menu_icon_bt {
    float: left;
    height: 40px !important;
    line-height: 40px !important;
}
.icon_prv {
    width: 42px;
    height: 40px;
    background: #fff;
    border: 1px solid  #dfdfdf;
    margin-top: -2px;
    float: left;
    margin-left: 5px;
    line-height: 40px !important;
    font-size: 24px;
    text-align: center;
    position: relative;
    
}
.icon_prv .remove_icon {
    position: absolute;
    right: 0;
    top: 0;
    text-decoration: none;
    color: red;
    font-size: 16px;
}
.sh_icons_selector {
    clear: both;
}
.sh_icons_selector span.or {
    display: inline-block;
    line-height: 28px;
    margin: 0 5px;
    vertical-align: top;
}
.menu-item-settings {
    overflow: hidden;
}