
/* ======contact-baner======================= */
.call-to-action {
	padding: 60px 0;
	background-position: 50% 50% !important;
	background-size: cover !important;
	.button{
	   float:left;
	   @media screen and (max-width: 767px) {
	   	float:none;	
	   }
	}
	.contact-left-content {
		@media screen and (max-width: 767px) {
			text-align:center;	
		}
		h3 {
			font-size: 30px;
			font-weight: bold;
			font-family: $font__body;
			color: #fff;
		}
		h4 {
			font-size: 20px;
			color: #FCA22A;
			font-weight: bold;
			font-family: $font__body;
		}
	}
	.contact-right-content {
		@media screen and (max-width: 767px) {
			margin-left: 0%;
			margin-top: 30px;
			text-align:center;	
		}
		margin-left: 30%;
		h4 {
			font-size: 20px;
			color: #fff;
			margin-top: 20px;
			font-weight: bold;
			line-height: 30px;
			font-family: $font__body;
			margin-top: 0px;
			span {
				display: block;
			}
		}
		
	}
}
/* ======contact======================= */
.heading-content-two.available {
	margin-bottom: 40px;
}
.contact-area {
	.map-left-content {
		@media screen and (max-width: 990px) {
			iframe {
				width:100%;
			}	
		}
	}
	padding:60px 0;
	@media screen and (max-width: 990px) {
		padding:15px;	
	}
	
	.contact {
		@media screen and (max-width:767px) {
			text-align:center;	
		}
		margin-bottom: 30px;
		h4 {
			font-size: 20px;
			color: #0E385D;
			font-family: $font__body;
			font-weight:bold;
			i {
				color: #0E385D;
				font-size: 30px;
				margin-right: 10px;
			}
			.fa-user {
				background-color: #0E385D;
				border-radius: 50%;
				color: #fff;
				width: 40px;
				height: 40px;
				text-align: center;
				line-height: 36px;
			}
		}
		p {
			color: #414141;
		    font-weight: bold;
		    margin-top: 20px;
		    letter-spacing: 0.5px;
		    font-size: 16px;
		}
		.social-icon {
			margin-top: 20px;
			i {
				background-color: #515151;
				padding: 9px;
				width: 35px;
				height: 35px;
				text-align: center;
				line-height: 17px;
				font-size: 19px;
				color: #fff;
				border-radius: 50%;
				margin-right: 5px;
			}
		}
	}
}
