

.main-menu-area {
	margin: auto;
	display: table;
	text-align: center;
	padding: 70px 0 15px 0;
	.col-md-12 .main-menu {
		margin-top: 70px;
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			li {
				position: relative;

				ul {
					position: absolute;
				    background: #fff;
				    min-width: 200px;
				    text-align: left;
				    z-index: 99;
				    opacity: 0;
				    left: -1500px;


				}
				&:hover > ul,
				ul li:hover > ul {
					opacity: 1;
					left: 0;
				}
				ul li:hover > ul {
					left: 100%;
					@media screen and (max-width:767px) {
						left: -1;
					}
				}
				ul li ul {
					left: 100%;
					top: -1px;
					opacity: 0;
				}
			}
		}
		> ul > li {
			float: left;
			margin-right: 30px;
			font-family:$font__heading;
			ul {
				border: 1px solid #ebebeb;
			}
			li a {
				padding: 6px 14px;
				border-bottom: 1px solid #ebebeb;
				display: block;

			}
			li:last-child a {
				border-bottom: 0 none;
			}
		}
		a {
			color: #222222;
			font-weight: bold;
			font-size: 16px;
		}
	}
}
