
.availability-area.two{
    .list {
        background: #fff;
        position: relative;
        top: -68px;
        padding: 10px 100px;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        color: #000;
        span {
            color:#7B7B7B;
        }
    }
    background-color:#EDFFE8;
    margin-top:0;
    .form-group:nth-child(5) {
        margin-right:0px;
    }
    .form-group:nth-child(4) {
        input {
            margin-top:30px;
        }
    }
    .form-content .form-group:first-child input {
        width:260px;
    }
    .form-content {
        select {
            width:250px;
        }
        h4 {
            font-family: $font__body;
        }
        label {
            font-family: $font__body;
        }
    }
}


.availability-area.two .availability-heading {
    h4 {
        span {
            text-transform: lowercase;
        }
    }

}

