.single-content {
	.single-text-content {
		position: relative;
		top: -25px;
		
		p {
			font-size: 16px;
			color: #636363;
			font-weight: 600;
			line-height: 30px;
			margin-top: 30px;
			margin-bottom: 50px;
		}
	}
	.entry-content a:not(.wp-block-button__link) {
		text-decoration: underline;
	}
	blockquote {
		&.wp-block-quote {
			border-left-color: #eeeeee;
		}
	}
	.wp-block-pullquote {
		blockquote {
			border-left: 0 none !important; 
			margin-bottom: 0;
		}
	}
	.wp-block-embed__wrapper:before {
		padding-top: 0 !important;
	}
	ul.wp-block-gallery {
		padding-left: 0 !important;
		> li {
			margin-top: 0 !important;
		}
	}
}

.blog-area .blog-heading {
	text-align: center;
	h2 {
		font-size:26px;
		font-family: $font__body;
		font-weight:bold;
	}
}
.blog-area.bolge {
	padding: 30px 0;
}
.blog-area {
	.col-md-4.col-sm-6.col-xs-6 {
		@media only screen and (max-width: 530px) {
			width: 100%;
		}
	}
	.col-md-4.col-sm-6.col-xs-6:last-child {
		@media only screen and (min-width: 530px) and (max-width: 992px) {
			display: none;
		}
	}
}
.color-black {
	li {
		a {
			color:#000 !important;
		}
	}
}

.single-main-content {
	padding: 60px;
	background-color: #fff;
	margin-top: 45px;
	border-radius: 5px;
	@media only screen and (max-width: 540px) {
		padding: 30px;
	}	
	@media only screen and (max-width: 380px) {
		padding: 20px;
	}
	.entry-header {
		.entry-title {
			font-size: 38px;
		    font-weight: bold;
		    font-family: inherit !important;
		    color: #181818;
		    margin-bottom: 30px;
		    margin-top: 0;
		}
	}
	.post-thumb {
		overflow: hidden;
		border-radius: 7px;
	}
	.post {
		margin-bottom: 0;
	}
	.post .entry-meta {
	    color: #828282;
	    font-size: 13px;
	    font-weight: 600;
	    font-style: normal;
	    display: block;
	    overflow: hidden;
	    > div .fa {
	    	margin-right: 5px;
	    }
	}
	.entry-meta > div {
	    float: left;
	    margin-right: 45px;
	    margin-bottom: 30px;
	    span {
	    	display: block;
	    	font-weight: bold;
	    	color: #181818;
	    }
	}
	.entry-meta + .entry-content {
		margin-top: 0 !important;
	}
}

.entry-share {
	span {
		font-weight:600;
	}
	a {
		padding: 5px;
		i {
			color:#969696;
			font-size:15px;
			&:hover {
				color:#000;
			}
		}
	}
}
.ralated-area {
	.ralated-heading {
		margin-top: 30px;
		h2 {
			font-weight: bold;
			font-size: 25px;
			color: #363636;
			font-family: inherit !important;
			margin-top: 0;
		}
	}
	.post-thumb {
		img {
			width:100%;
		}
	}
	.col-md-4.col-sm-6.col-xs-6:last-child {
		@media only screen and (max-width: 992px) and (min-width: 540px) {
			display: none;
		}
	}	
	.col-md-4.col-sm-6.col-xs-6 {
		@media only screen and (max-width: 539px) {
			width: 100%;
		}
	}
}
.single-page-gutenber-content {
	padding-top: 45px;
	.single-main-content {
		padding: 0;
		background-color: transparent;
		border-radius: 0;
		.post {
			background-color: transparent !important;
		}
		.entry-header,
		.entry-meta,
		.page-header,
		.entry-footer,
		.site-info,
		.post-navigation,
		.page-navigation,
		.comments-area,
		.comment-respond,
		.not-found .page-content,
		.search .entry-summary,
		.entry-share {
		  	margin: 1.5em auto;
		  	max-width: 815px;
		  	@media only screen and (max-width: 767px) {
		  		max-width: 100%;
		  	}
		}
		.entry-share {
			text-align: center;
			margin-bottom: 45px;
		}
		article {
			margin-bottom: 0;
		}
		blockquote {
			> * {
				padding-left: 30px !important;
			}
		}
		.entry-header {
			margin-top: 0;
			margin-bottom: 0;
			> .entry-title {
				font-size: 45px !important;
				font-weight: 500;
			}
		}
		.entry-meta {
			margin-top: 0;
			> ul > li > i {
				margin-right: 8px;
			}
		}
		.single-post-footer {
			.post-navigation {
				margin-top: 60px;
				margin-bottom: 60px;
			}
		}
		.comments-area.comments {
			margin-bottom: 60px;
			+ .comment-respond {
				margin-bottom: 0;
			}
		} 
		.entry-meta .meta-list > li {
			display: inline-block;
			margin-right: 25px;
		}

		.entry-content > * {
		  	margin: 36px auto;
		  	max-width: 815px;
		  	padding-left: 14px;
		  	padding-right: 14px;
		}

		.entry-content > .alignwide {
		  	max-width: 1100px;
		}

		.entry-content > .alignfull {
		  	margin: 1.5em 0;
		  	max-width: 100%;
		}

		.entry-content ul,
		.entry-content ol {
		  	margin: 1.5em auto;
		  	max-width: 815px;
		  	list-style-position: outside;
		}

		.wp-block-video video {
		  	max-width: 815px;
		}

		.wp-block-image img {
		  	display: block;
		}

		.wp-block-image.alignleft,
		.wp-block-image.alignright {
		  	width: 100%
		}

		.wp-block-image.alignfull img {
		  	width: 100vw;
		}

		.wp-block-gallery:not(.components-placeholder) {
		  	margin: 1.5em auto;
		}

		.wp-block-cover-text p {
		  	padding: 1.5em 14px;
		}

		ul.wp-block-latest-posts.alignwide,
		ul.wp-block-latest-posts.alignfull,
		ul.wp-block-latest-posts.is-grid.alignwide,
		ul.wp-block-latest-posts.is-grid.alignwide {
		  	padding: 0 14px;
		}

		.wp-block-table {
		  	display: block;
		  	overflow-x: auto;
		}

		.wp-block-table table {
		  	border-collapse: collapse;
		  	width: 100%
		}

		.wp-block-table td, 
		.wp-block-table th {
		  	padding: .5em;
		}

		.entry-content li {
		  	margin-left: 2.5em;
		  	margin-bottom: 6px;
		}

		.entry-content ul ul,
		.entry-content ol ol,
		.entry-content ul ol,
		.entry-content ol ul {
		  	margin: 0 auto;
		}

		.entry-content ul ul li,
		.entry-content ol ol li,
		.entry-content ul ol li,
		.entry-content ol ul li {
		  	margin-left: 0;
		}


		.wp-block-embed.type-video > .wp-block-embed__wrapper {
			position: relative;
			width: 100%;
			height: 0;
			padding-top: 56.25%;
		}

		.wp-block-embed.type-video > .wp-block-embed__wrapper > iframe {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
		}

		.wp-block-quote.is-large {
		  	margin: 0 auto 16px;
		}

		.wp-block-pullquote>p:first-child {
		  	margin-top: 0;
		}

		.wp-block-separator {
		  	margin: 3em auto;
		  	padding: 0;
		}

		.wp-block-pullquote {
			border-left: 0 none;
		}

		.wp-block-embed.alignwide {
			text-align: center;
		}

		@media screen and (min-width: 768px) {
		  	.wp-block-cover-text p {
		    	padding: 1.5em 0;
		  	}

		  	.entry-content > * {
		    	padding-left: 0px;
		    	padding-right: 0px;
		  	}
		}
		.wp-block-file {
		    margin-bottom:1.5em;
		    &.aligncenter {
			    text-align: center;
			}
			&.alignright{
			    text-align: right;
			}
			a.wp-block-file__button {
			    text-decoration: none;
			}
			a.wp-block-file__button:active,
			a.wp-block-file__button:focus,
			a.wp-block-file__button:hover,
			a.wp-block-file__button:visited {
			    box-shadow: none;
			    color: #fff;
			    opacity:.85;
			    text-decoration: none;
			}
		}
		.wp-block-file__button {
		    background:#32373c;
		    border-radius:2em;
		    color:#fff;
		    font-size:13px;
		    padding:.5em 1em;
		}
		*+.wp-block-file__button{
		    margin-left:.75em
		}
		.has-pale-pink-background-color{
		    background-color:#f78da7
		}
		.has-vivid-red-background-color{
		    background-color:#cf2e2e
		}
		.has-luminous-vivid-orange-background-color{
		    background-color:#ff6900
		}
		.has-luminous-vivid-amber-background-color{
		    background-color:#fcb900
		}
		.has-light-green-cyan-background-color{
		    background-color:#7bdcb5
		}
		.has-vivid-green-cyan-background-color{
		    background-color:#00d084
		}
		.has-pale-cyan-blue-background-color{
		    background-color:#8ed1fc
		}
		.has-vivid-cyan-blue-background-color{
		    background-color:#0693e3
		}
		.has-very-light-gray-background-color{
		    background-color:#eee
		}
		.has-cyan-bluish-gray-background-color{
		    background-color:#abb8c3
		}
		.has-very-dark-gray-background-color{
		    background-color:#313131
		}
		.has-pale-pink-color{
		    color:#f78da7
		}
		.has-vivid-red-color{
		    color:#cf2e2e
		}
		.has-luminous-vivid-orange-color{
		    color:#ff6900
		}
		.has-luminous-vivid-amber-color{
		    color:#fcb900
		}
		.has-light-green-cyan-color{
		    color:#7bdcb5
		}
		.has-vivid-green-cyan-color{
		    color:#00d084
		}
		.has-pale-cyan-blue-color{
		    color:#8ed1fc
		}
		.has-vivid-cyan-blue-color{
		    color:#0693e3
		}
		.has-very-light-gray-color{
		    color:#eee
		}
		.has-cyan-bluish-gray-color{
		    color:#abb8c3
		}
		.has-very-dark-gray-color{
		    color:#313131
		}
		.wp-block-image {
		    width: -webkit-fit-content;
		    width: -moz-fit-content;
		    width: fit-content
		}
		.wp-block-image.aligncenter{
		    display:block;
		    margin-left:auto;
		    margin-right:auto;
		    text-align: center
		}
		.wp-block-image.is-resized {
		    width: -webkit-min-content;
		    width: -moz-min-content;
		    width: min-content;
		    display: -ms-inline-grid;
		    -ms-grid-columns: min-content
		}
		.wp-block-image.is-resized figcaption {
		    -ms-grid-row:2
		}
		.wp-block-image.is-resized img {
		    max-width: none
		}
		.wp-block-image figcaption {
		    margin-top: .5em;
		    color: #6c7781;
		    text-align: center;
		    font-size: 13px;
		}
		.wp-block-quote.is-large,
		.wp-block-quote.is-style-large {
		    margin: 0 0 16px;
		    padding: 0 1em
		}
		.wp-block-quote.is-large p,
		.wp-block-quote.is-style-large p {
		    font-size: 24px;
		    font-style: italic;
		    line-height: 1.6
		}
		.wp-block-quote.is-large cite,
		.wp-block-quote.is-large footer,
		.wp-block-quote.is-style-large cite,
		.wp-block-quote.is-style-large footer{
		    font-size: 18px;
		    text-align: right;
		}
		.wp-block-gallery{
		    display: flex;
		    flex-wrap: wrap;
		    list-style-type: none;
		    padding: 0;
		    margin: 0 -8px
		}
		.wp-block-gallery .blocks-gallery-image,
		.wp-block-gallery .blocks-gallery-item {
		    margin: 8px !important;
		    display: flex;
		    flex-grow: 1;
		    flex-direction: column;
		    justify-content: center;
		    position: relative;
		}
		.wp-block-gallery .blocks-gallery-image figure,
		.wp-block-gallery .blocks-gallery-item figure {
		    margin:0;
		    height:100%;
		    display:flex;
		    align-items: flex-end;
		}
		.wp-block-gallery .blocks-gallery-image img,
		.wp-block-gallery .blocks-gallery-item img {
		    display: block;
		    max-width: 100%;
		    height: auto;
		}
		.wp-block-gallery .blocks-gallery-image figcaption,
		.wp-block-gallery .blocks-gallery-item figcaption {
		    position:absolute;
		    width:100%;
		    max-height:100%;
		    overflow:auto;
		    padding:40px 10px 5px;
		    color:#fff;
		    text-align:center;
		    font-size:13px;
		    background: linear-gradient(0deg,rgba(0,0,0,.7),rgba(0,0,0,.3) 60%,transparent)
		}
		.wp-block-gallery .blocks-gallery-image figcaption img,
		.wp-block-gallery .blocks-gallery-item figcaption img{
		    display: inline
		}
		.wp-block-gallery.is-cropped .blocks-gallery-image a,
		.wp-block-gallery.is-cropped .blocks-gallery-image img,
		.wp-block-gallery.is-cropped .blocks-gallery-item a,
		.wp-block-gallery.is-cropped .blocks-gallery-item img{
		    flex:1;
		    width:100%;
		    height:100%;
		    -o-object-fit:cover;
		    object-fit: cover
		}
		.wp-block-gallery .blocks-gallery-image,.wp-block-gallery .blocks-gallery-item{
		    width: calc(100% / 2 - 16px)
		}
		.wp-block-gallery.columns-1 .blocks-gallery-image,.wp-block-gallery.columns-1 .blocks-gallery-item{
		    width: calc(100% / 1 - 16px)
		}
		@media (min-width:600px){
		    .wp-block-gallery.columns-3 .blocks-gallery-image,.wp-block-gallery.columns-3 .blocks-gallery-item{
		        width: calc(100% / 3 - 16px)
		    }
		    .wp-block-gallery.columns-4 .blocks-gallery-image,.wp-block-gallery.columns-4 .blocks-gallery-item{
		        width: calc(100% / 4 - 16px)
		    }
		    .wp-block-gallery.columns-5 .blocks-gallery-image,.wp-block-gallery.columns-5 .blocks-gallery-item{
		        width: calc(100% / 5 - 16px)
		    }
		    .wp-block-gallery.columns-6 .blocks-gallery-image,.wp-block-gallery.columns-6 .blocks-gallery-item{
		        width: calc(100% / 6 - 16px)
		    }
		    .wp-block-gallery.columns-7 .blocks-gallery-image,.wp-block-gallery.columns-7 .blocks-gallery-item{
		        width: calc(100% / 7 - 16px)
		    }
		    .wp-block-gallery.columns-8 .blocks-gallery-image,.wp-block-gallery.columns-8 .blocks-gallery-item{
		        width: calc(100% / 8 - 16px)
		    }
		}
		.wp-block-gallery .blocks-gallery-item.has-add-item-button{
		    width:100%
		}
		.wp-block-gallery.alignleft,
		.wp-block-gallery.alignright,
		[data-align=left] .wp-block-gallery,
		[data-align=right] .wp-block-gallery{
		    max-width:305px;
		    width:100%
		}
		.wp-block-audio figcaption{
		    margin-top:.5em;
		    color:#6c7781;
		    text-align:center;
		    font-size:13px
		}
		.wp-block-button{
		    margin-bottom:1.5em
		}
		.wp-block-button .wp-block-button__link{
		    border:none;
		    border-radius:23px;
		    box-shadow:none;
		    cursor:pointer;
		    display:inline-block;
		    font-size:18px;
		    line-height:24px;
		    margin:0;
		    padding:11px 24px;
		    text-align:center;
		    text-decoration:none;
		    white-space:normal;
		    word-break: break-all
		}
		.wp-block-button.is-style-squared .wp-block-button__link{
		    border-radius:0
		}
		.wp-block-button.aligncenter{
		    text-align: center
		}
		.wp-block-button.alignright{
		    text-align: right
		}
		.wp-block-button__link:not(.has-background),.wp-block-button__link:not(.has-background):active,.wp-block-button__link:not(.has-background):focus,.wp-block-button__link:not(.has-background):hover{
		    background-color:#32373c
		}
		.wp-block-button.is-style-outline .wp-block-button__link{
		    background:transparent;
		    border:2px solid transparent
		}
		.wp-block-button.is-style-outline .wp-block-button__link.has-pale-pink-background-color{
		    border-color:#f78da7
		}
		.wp-block-button.is-style-outline .wp-block-button__link.has-vivid-red-background-color{
		    border-color:#cf2e2e
		}
		.wp-block-button.is-style-outline .wp-block-button__link.has-luminous-vivid-orange-background-color{
		    border-color:#ff6900
		}
		.wp-block-button.is-style-outline .wp-block-button__link.has-luminous-vivid-amber-background-color{
		    border-color:#fcb900
		}
		.wp-block-button.is-style-outline .wp-block-button__link.has-light-green-cyan-background-color{
		    border-color:#7bdcb5
		}
		.wp-block-button.is-style-outline .wp-block-button__link.has-vivid-green-cyan-background-color{
		    border-color:#00d084
		}
		.wp-block-button.is-style-outline .wp-block-button__link.has-pale-cyan-blue-background-color{
		    border-color:#8ed1fc
		}
		.wp-block-button.is-style-outline .wp-block-button__link.has-vivid-cyan-blue-background-color{
		    border-color:#0693e3
		}
		.wp-block-button.is-style-outline .wp-block-button__link.has-very-light-gray-background-color{
		    border-color:#eee
		}
		.wp-block-button.is-style-outline .wp-block-button__link.has-cyan-bluish-gray-background-color{
		    border-color:#abb8c3
		}
		.wp-block-button.is-style-outline .wp-block-button__link.has-very-dark-gray-background-color {
		    border-color:#313131
		}
		.wp-block-button.is-style-outline .wp-block-button__link:not(.has-background),
		.wp-block-button.is-style-outline .wp-block-button__link:not(.has-background):active,
		.wp-block-button.is-style-outline .wp-block-button__link:not(.has-background):focus,
		.wp-block-button.is-style-outline .wp-block-button__link:not(.has-background):hover {
		    border-color:#32373c
		}
		.wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color),
		.wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color):active,
		.wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color):focus,
		.wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color):hover {
		    color:#32373c
		}
		.wp-block-button__link:not(.has-text-color),
		.wp-block-button__link:not(.has-text-color):active,
		.wp-block-button__link:not(.has-text-color):focus,
		.wp-block-button__link:not(.has-text-color):hover{
		    color: #fff
		}
		.wp-block-categories.alignleft{
		    margin-right:2em
		}
		.wp-block-categories.alignright{
		    margin-left:2em
		}
		.wp-block-columns{
		    display: flex
		}
		.wp-block-column{
		    flex:1
		}
		.wp-block-cover-image {
		    position:relative;
		    background-size:cover;
		    background-position:50%;
		    min-height:430px;
		    width:100%;
		    margin:0 auto 1.5em;
		    display:flex;
		    justify-content:center;
		    align-items: center
		}
		.wp-block-cover-image.has-left-content{
		    justify-content: flex-start
		}
		.wp-block-cover-image.has-left-content .wp-block-cover-image-text,
		.wp-block-cover-image.has-left-content h2 {
		    margin-left:0;
		    text-align: left
		}
		.wp-block-cover-image.has-right-content{
		    justify-content: flex-end
		}
		.wp-block-cover-image.has-right-content .wp-block-cover-image-text,
		.wp-block-cover-image.has-right-content h2 {
		    margin-right:0;
		    text-align: right
		}
		.wp-block-cover-image .wp-block-cover-image-text,
		.wp-block-cover-image h2 {
		    color:#fff;
		    font-size:2em;
		    line-height:1.25;
		    z-index:1;
		    margin-bottom:0;
		    max-width:610px;
		    padding:14px;
		    text-align:center
		}
		.wp-block-cover-image .wp-block-cover-image-text a,
		.wp-block-cover-image .wp-block-cover-image-text a:active,
		.wp-block-cover-image .wp-block-cover-image-text a:focus,
		.wp-block-cover-image .wp-block-cover-image-text a:hover,
		.wp-block-cover-image h2 a,
		.wp-block-cover-image h2 a:active,
		.wp-block-cover-image h2 a:focus,
		.wp-block-cover-image h2 a:hover{
		    color:#fff
		}
		.wp-block-cover-image.has-parallax{
		    background-attachment:fixed
		}
		.wp-block-cover-image.has-background-dim:before{
		    content:"";
		    position:absolute;
		    top:0;
		    left:0;
		    bottom:0;
		    right:0;
		    background-color:rgba(0,0,0,.5)
		}
		.wp-block-cover-image.has-background-dim.has-background-dim-10:before{
		    background-color:rgba(0,0,0,.1)
		}
		.wp-block-cover-image.has-background-dim.has-background-dim-20:before{
		    background-color:rgba(0,0,0,.2)
		}
		.wp-block-cover-image.has-background-dim.has-background-dim-30:before{
		    background-color:rgba(0,0,0,.3)
		}
		.wp-block-cover-image.has-background-dim.has-background-dim-40:before{
		    background-color:rgba(0,0,0,.4)
		}
		.wp-block-cover-image.has-background-dim.has-background-dim-50:before{
		    background-color:rgba(0,0,0,.5)
		}
		.wp-block-cover-image.has-background-dim.has-background-dim-60:before{
		    background-color:rgba(0,0,0,.6)
		}
		.wp-block-cover-image.has-background-dim.has-background-dim-70:before{
		    background-color:rgba(0,0,0,.7)
		}
		.wp-block-cover-image.has-background-dim.has-background-dim-80:before{
		    background-color:rgba(0,0,0,.8)
		}
		.wp-block-cover-image.has-background-dim.has-background-dim-90:before{
		    background-color:rgba(0,0,0,.9)
		}
		.wp-block-cover-image.has-background-dim.has-background-dim-100:before{
		    background-color:#000
		}
		.wp-block-cover-image.components-placeholder{
		    height:inherit
		}
		.wp-block-cover-image.alignleft,
		.wp-block-cover-image.alignright,
		.wp-block-embed.alignleft,
		.wp-block-embed.alignright,
		[data-align=left] .wp-block-cover-image,
		[data-align=right] .wp-block-cover-image{
		    max-width:305px;
		    width:100%
		}
		.wp-block-embed figcaption{
		    margin-top:.5em;
		    color:#6c7781;
		    text-align:center;
		    font-size:13px
		}
		p.is-small-text{
		    font-size:14px
		}
		p.is-regular-text{
		    font-size:16px
		}
		p.is-large-text{
		    font-size:36px
		}
		p.is-larger-text{
		    font-size:48px
		}
		p.has-drop-cap:not(:focus):first-letter {
		    float:left;
		    font-size:8.4em;
		    line-height:.68;
		    font-weight:100;
		    margin:.05em .1em 0 0;
		    text-transform:uppercase;
		    font-style:normal
		}
		p.has-background{
		    padding:20px 30px
		}
		.wp-block-latest-comments__comment{
		    font-size:15px;
		    line-height:1.1;
		    list-style:none;
		    margin-bottom:1em
		}
		.has-avatars .wp-block-latest-comments__comment{
		    min-height:36px;
		    list-style:none
		}
		.has-avatars .wp-block-latest-comments__comment .wp-block-latest-comments__comment-excerpt,
		.has-avatars .wp-block-latest-comments__comment .wp-block-latest-comments__comment-meta {
		    margin-left:52px
		}
		.has-dates .wp-block-latest-comments__comment,
		.has-excerpts .wp-block-latest-comments__comment {
		    line-height:1.5
		}
		.wp-block-latest-comments__comment-excerpt p {
		    font-size:14px;
		    line-height:1.8;
		    margin:5px 0 20px
		}
		.wp-block-latest-comments__comment-date {
		    color:#8f98a1;
		    display:block;
		    font-size:12px
		}
		.wp-block-latest-comments .avatar,
		.wp-block-latest-comments__comment-avatar{
		    border-radius:24px;
		    display:block;
		    float:left;
		    height:40px;
		    margin-right:12px;
		    width:40px
		}
		.wp-block-latest-posts.alignleft{
		    margin-right:2em
		}
		.wp-block-latest-posts.alignright{
		    margin-left:2em
		}
		.wp-block-latest-posts.is-grid{
		    display:flex;
		    flex-wrap:wrap;
		    padding:0;
		    list-style:none
		}
		.wp-block-latest-posts.is-grid li{
		    margin:0 16px 16px 0;
		    width:100%
		}
		@media (min-width:600px){
		    .wp-block-latest-posts.columns-2 li{
		        width:calc(50% - 16px)
		    }
		    .wp-block-latest-posts.columns-3 li{
		        width:calc(33.33333% - 16px)
		    }
		    .wp-block-latest-posts.columns-4 li{
		        width:calc(25% - 16px)
		    }
		    .wp-block-latest-posts.columns-5 li{
		        width:calc(20% - 16px)
		    }
		    .wp-block-latest-posts.columns-6 li{
		        width:calc(16.66667% - 16px)
		    }
		}
		.wp-block-latest-posts__post-date{
		    display:block;
		    color:#6c7781;
		    font-size:13px
		}
		.wp-block-pullquote{
		    padding:3em 0;
		    text-align:center
		}
		.wp-block-pullquote.alignleft,
		.wp-block-pullquote.alignright{
		    max-width:400px
		}
		.wp-block-pullquote.alignleft>p,
		.wp-block-pullquote.alignright>p{
		    font-size:20px
		}
		.wp-block-pullquote > p {
		    font-size: 24px;
		    line-height: 1.6
		}
		.wp-block-pullquote cite,
		.wp-block-pullquote footer{
		    position: relative;
		}
		.wp-block-separator.is-style-wide{
		    border-bottom-width:1px
		}
		.wp-block-separator.is-style-dots{
		    border:none;
		    text-align:center;
		    max-width:none;
		    line-height:1;
		    height:auto
		}
		.wp-block-separator.is-style-dots:before{
		    content:"\00b7 \00b7 \00b7";
		    color:#32373c;
		    font-size:20px;
		    letter-spacing:2em;
		    padding-left:2em;
		    font-family:serif
		}
		p.wp-block-subhead{
		    font-size:1.1em;
		    font-style:italic;
		    opacity:.75
		}
		.wp-block-table.has-fixed-layout tbody {
		    table-layout:fixed
		}
		.wp-block-text-columns,
		.wp-block-text-columns.aligncenter{
		    display:flex
		}
		.wp-block-text-columns .wp-block-column {
		    margin:0 16px;
		    padding:0
		}
		.wp-block-text-columns .wp-block-column:first-child{
		    margin-left:0
		}
		.wp-block-text-columns .wp-block-column:last-child{
		    margin-right:0
		}
		.wp-block-text-columns.columns-2 .wp-block-column{
		    width:50%
		}
		.wp-block-text-columns.columns-3 .wp-block-column {
		    width:33.33333%
		}
		.wp-block-text-columns.columns-4 .wp-block-column {
		    width:25%
		}
		.wp-block-video.aligncenter{
		    text-align:center
		}
	}
}
