/* =========contactus============ */
.contactus-area {
	margin-bottom: 70px;
	.contact {
		h4 {
			font-size: 22px;
			color: #0E385D;
			font-family: $font__body;
			font-weight:bold;
			i {
				color: #0E385D;
				font-size: 30px;
				margin-right: 10px;
			}
			.fa-user {
				background-color: #0E385D;
				border-radius: 50%;
				color: #fff;
				width: 40px;
				height: 40px;
				text-align: center;
				line-height: 36px;
			}
		}
		p {
			color: #414141;
		    font-weight: bold;
		    margin-top: 20px;
		    letter-spacing: 0.5px;
		    font-size: 16px;
		    margin-bottom: 50px;
		}
		.social-icon {
			margin-top: 20px;
			i {
				background-color: #515151;
				padding: 9px;
				width: 35px;
				height: 35px;
				text-align: center;
				line-height: 17px;
				font-size: 19px;
				color: #fff;
				border-radius: 50%;
				margin-right: 5px;
			}
		}
	}
}
.contactus-area {
	.contactus-heading-content {
		text-align:center;	
		margin-bottom: 30px;	
		h2 {
			font-size:60px;
			font-family: $font__body;
			background: linear-gradient(330deg, #1136bb 0%, #019047 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}
	.contactus-content-right {
		text-align:center;
		h3 {
			font-family: $font__body;
			color:#3d4348;
		}
		img {
			width:auto;
			position: relative;
			top: 25px;
		}
	}
}
.input-content {
	border: 1px solid#DDDDDD;
	padding:50px;
	border-radius: 10px;
	background-color: #FAFAFA;
	h4 {
		font-size:24px;
		color:#3d4348;
		font-family: $font__body;
		text-align: center;
		margin-bottom: 60px;
	}
	input {
		width: 46%;
		border: none;
		box-shadow: none;
		border-bottom: 1px solid #DDDDDD;
		border-radius: 0;
		float: left;
		margin-bottom: 30px;
		font-size: 13px;
		padding: 10px 0;
		margin-right: 50px;
		color:#8c8c8c;
		font-size: 12px;
		background-color: #FAFAFA;
		&:nth-of-type(3) {
			width:100%;
		}
		&:nth-of-type(2) {
			margin-right:0;
		}
		@media screen and (max-width: 990px) {
			width:100%;
		}
	}
	textarea {
		border: none;
		border-bottom: 1px solid #dddddd;
		color: #8c8c8c;
		margin-top: 50px;
		float: left;
		width: 100%;
		margin-bottom: 40px;
		font-size:12px;
		background-color: #FAFAFA;
	}
	.subimt-button {
		margin:auto;
		display:table;
		.submit {
			padding: 17px;
		    color: #fff;
		    width: 190px;
		    text-transform: uppercase;
		    font-weight: bold;
		    letter-spacing: 1px;
		    margin: auto;
		    border-radius:5px;
		}
	}
}

.contactus-area .submit {
	background: #21b75f; /* Old browsers */
	background: -moz-linear-gradient(left,  #21b75f 0%, #31386e 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #21b75f 0%,#31386e 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #21b75f 0%,#31386e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#21b75f', endColorstr='#31386e',GradientType=1 ); /* IE6-9 */
}

   
