.footer-area.others{
	.footer-content {
		h3 {
			color: #303C6C;
		}
		h2 {
			color: #239B02;
			font-size: 28px;
			margin-bottom: 25px;
			
			a {
				position: relative;
				top: 5px;
			}
		}
		
		span {
			a {
				background-color: #303C6C;
			}
		}
	}
	.list-content {
		ul {
			li {
				a {
					color: #303c6c;
				}
			}
		}
	}
}

.footer-area.four {
	background-color:#FAFAFA;
}