.gallery .owl-controls > div.owl-nav > div.owl-prev {
    left: 0px;
}
.gallery .owl-controls > div.owl-nav > div.owl-next {
    right: 0px;
}
.gallery .owl-controls > div.owl-nav > div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    line-height: normal;
    padding: 15px 15px;
    font-size: 42px;
    border-radius: 50%;
    color: #fff;
}

.corousel-gallery-content {
    h4 {
        font-family: $font__body;
        position: relative;
        top: -30px;
        a {
            margin-right:10px;
        }
        span {
            font-weight: normal;
            color: #605F5F;
        }
    }
    .owl-carousel .owl-item img {
        border-radius:10px;
    }
}
.corousel-gallery-area {
    padding: 40px 0;
}
.list-view.owl-carousel.owl-theme.owl-loaded {
    margin-top:20px;
    margin-bottom: 50px;
    img {
        border-radius:10px;
    }
}

.form-bg.seven {
    padding: 30px 27px 60px;
    .form-group a span {
        border-radius:5px;
        padding:13px 66px;
        text-transform:uppercase;
    }

}

.family-apartment-content {
    .rent {
       font-weight: 600;
       font-size: 18px;
       margin-top: 25px;
    }
    .apartment-description {
        font-size: 20px;
        color: #4d4d4d;
        font-weight: 600;
        position:relative;
        margin-bottom: 70px;    
        &:before {
            position: absolute;
            content: "";
            background-color: #969696;
            width: 50px;
            height: 7px;
            bottom: -15px;
        }
    }
    h3 {
       font-family: $font__body;
       font-size:24px;
       margin-bottom: 35px; 
       color:#4d4d4d;
    }
    .price {
        margin-bottom: 50px;    
        ul {
            list-style: none;
            padding:0;
            li {
                line-height:40px;
                a {
                    font-size:18px;
                    font-weight:600;
                    color: #4d4d4d;
                }
            }
        }
    }

    .property {
        ul {
            list-style: none;
            padding: 0;
            li {
                line-height: 25px;
                font-size: 16px;
                color: #868686;
                font-weight: 600;
                margin-bottom: 30px;
                font-family: $font__body;
                span {
                    font-size:18px;
                    color: #4D4D4D;
                    font-family: $font__body;
                }
            }
        }
    }
    .apartment-overview {
        ul {
            font-weight: 600;
            color: #666666;
            list-style: none;
            padding:0;
        }
        
        li {
           background-color: #F8F8F8;
           padding: 20px 40px;
           margin-bottom: 10px;

        }
    }
    
}

.indoor {
    h3 {
        font-size: 20px;
        color: #444444;
        background: #F8F8F8;
        padding: 20px 30px;
    }
    ul {
        list-style:none;
        li {
            font-size: 15px;
            font-weight: 600;
            color:#666666;
            line-height: 35px;
            margin-left: 30px;
        }
    }
}

.corousel-gallery-area .form-bg.seven.post {
    margin-top:0px;
}

.corousel-gallery-area .family-apartment-content {
    .apartment-description {
        &:before {
            background: -moz-linear-gradient(left, #21b75f 0%, #31386e 100%);
            background: -webkit-linear-gradient(left, #21b75f 0%, #31386e 100%);
            background: linear-gradient(to right, #21b75f 0%, #31386e 100%);
        }
    }
}