
.slider-text {
    padding: 100px 0px;
    text-align: center;
}
.default-pd-center {
	padding: 90px 0px;
	text-align: center;
}
.default-template-gradient.default-pd-center{
	h2 {
		color:#fff;
		font-size: 45px;
		font-family:inherit !important;
		font-weight	:bold;
	}
	p {
		color:#000;
		text-transform:capitalize;
		margin-bottom: 0;
		font-weight: 500;
	}
}


.slider-main-content.heading {
	h2 {
		color:#000;
	}
	p {
		letter-spacing: 1px;
		color:#d6d6d6;
	}
}
.header-bottom-area.four.slider-text {
	padding: 10px 0 150px; 
	.header-bottom-text-content {
		position:relative;
		top:80px;
		h2 {
			color:#000;
		}
		p {
			color:#fff;
		}
	}
}