/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/
button {
    padding: 12px 30px;
    color: $color__white;
    line-height: normal;
    @include prefixed(transition, all .25s ease);
}

input[type="button"] {
    @extend button;
}

input[type="reset"] {
    @extend button;
}

input[type="submit"] {
    @extend button;
    font-weight: bold;
    text-transform: uppercase;
    background: $color__border-five;
    color: $color__white;
    &:hover {
        color: $color__white;
    }
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
    &:focus {
        outline: none;
    }
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0;
}

button {
    a {
        color: $color__white;
    }
}
.search-form,
.searchform {
    .btn:not(.dropdown-toggle) {
        @include prefixed(border-radius, 0);
        &:hover {
            color: $color__white;
            text-decoration: none;
        }
        &:focus {
            background: transparent;
            color: $color__white;
            outline: 0 none;
        }
        &:active:focus {
            background: transparent;
            color: $color__white;
            outline: 0 none;
        }
    }
}

.btn {
    @include prefixed(border-radius, 0);
}

.btn-default {
    color: $color__text-main;
    &:hover {
        color: $color__text-main;
    }
}

.mobile-booking-btn {
    background: $color__white;
    padding: 15px 30px;
    border-radius: 7px;
    font-weight: 600;
}

// More link
a.more-content {
    background: $color_nevy;
    padding: 15px 30px;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    border-radius: 30px;
    display: table;
    margin: 15px auto auto;
}

.more-link {
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    line-height: normal;
    text-transform: uppercase;
    word-spacing: 0.02em;
    letter-spacing: 0.01em;
    color: $color__white;
    display: table;
    margin: 30px auto 0;
    padding: 15px 30px;
    vertical-align: middle;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    @include prefixed(transition, all 0.25s ease);
    &:hover,
    &:focus,
    &:active:focus {
        color: $color__white;
        text-decoration: none !important;
    }
}
.ajax-load-more, 
.newest-ajax-load-more, 
.oldest-ajax-load-more, 
.price-heigh-ajax-load-more, 
.price-low-ajax-load-more {
    display: table;
    margin: 30px auto 0;
    overflow: hidden;
    border-radius: 5px;
    &.disable a {
        cursor: not-allowed;
        opacity: 0.45;     
    }
}
.ajax-load-more a, 
.newest-ajax-load-more a, 
.oldest-ajax-load-more a, 
.price-heigh-ajax-load-more a, 
.price-low-ajax-load-more a {
    font-size: 14px;
    font-weight: bold;
    line-height: normal;
    text-transform: uppercase;
    word-spacing: 0.02em;
    letter-spacing: 0.01em;
    color: $color__white;
    display: inline-block;
    padding: 15px 30px;
    vertical-align: middle;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    @include prefixed(transition, all 0.25s ease);
    &:hover,
    &:focus,
    &:active:focus {
        color: $color__white;
        text-decoration: none !important;
    }
    .fa {
        margin-right: 5px;
    }
}

.comment-reply-link {
    padding: 6px 22px;
    font-size: 11px;
    line-height: normal;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    background: $color__border-five;
    color: $color__white;
    &:hover {
        color: $color__white;
    }
}

.form-submit {
    text-align: center;
    input[type="submit"] {
        background: $color__border-five;
        color: $color__white;
        width: auto;
        display: inline-block;
        margin: 15px auto 0;
        padding: 12px 45px;
        border-radius: 30px;
    }
}

.comment-navigation {
    .nav-links {
        a {
            background: $color__white;
            display: inline-block;
            padding: 0.5em 1.8em;
            letter-spacing: 0.02em;
            &:hover {
                color: $color__white;
            }
        }
    }
}

.go-button {
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    width: 186px;
    height: 45px;
    line-height: 46px;
    background: $header__footer-bg;
    @include prefixed(transition, all 0.3s ease);
    &:hover {
        color: $color__white;
    }
}

.entry-content {
    .btn {
        @include prefixed(border-radius, 1px);
        letter-spacing: 0;
        line-height: 1.7em;
    }
}

.mfp-wrap {
    button:hover {
        background: transparent !important;
    }
}

.form-group {
    .button {
        border: none;
        margin-top: 30px;
        float: left;
    }
}

.form-group .button {
    width: 100%;
    padding: 13px 45px;
    @media only screen and (max-width: 992px) {
        padding: 15px 25px;
    }
}

.button {
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    padding: 10px 45px;
    border-radius: 26px;
    text-transform: capitalize;
    margin: auto;
    display: table;
    position: relative;
    @include prefixed(transition, all 0.15s ease-in-out);
    &:hover {
        color: #ffffff;
    }
}

.nevy-button {
    background-color: $color_nevy;
}

.button-radius {
    border-radius: 5px;
}

.blog-area,
.call-to-action {
    .button {
        text-transform: capitalize;
        border-radius: 5px;
    }
}
.gallery-area {
    .button {
        float: left;
        position: relative;
        top: 0px;
        text-transform: uppercase
    }
}
.button.contact {
    background-color: #0E385D;
}

.default-pd-center {
    .button {
        border-radius: 5px;
        top: 10px;
        float: left;
    }
}

.call-to-action {
    .button {
        float: left;
        @media screen and (max-width: 767px) {
            float: none;
        }
    }
}

.pogoSlider-dir-btn {
    padding: 15px;
}

.pogoSlider-dir-btn.pogoSlider-dir-btn--prev {
    left: 50px;
}

.pogoSlider-dir-btn.pogoSlider-dir-btn--next {
    right: 50px;
}

.main-slide.eight {
    .pogoSlider-dir-btn {
        top: 35%;
    }
}