/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
input[type="text"],
input[type="email"],
input[type="url"],
input[type="number"],
input[type="password"],
input[type="search"],
select {
    &:focus {
        outline: none;
    }
}

input[type="search"] {
    -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent url("assets/images/select-bg.png") no-repeat scroll 95% 50%;
    option[selected] {
        color: $color__white;
    }
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px rgba($color__black, 0) inset;
    -webkit-text-fill-color: $color__text-main !important;
}

input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px rgba($color__black, 0) inset;
    -webkit-text-fill-color: $color__text-main !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    @include prefixed(transition,
    background-color 5000s ease-in-out 0s);
}

textarea {
    display: block;
    width: 100%;
    font-size: 0.8em;
    padding-left: 3px;
    display: block;
}

input,
select,
textarea {
    margin: 0;
    border: none;
    vertical-align: baseline;
    font-size: 100%;
    font-weight: 400;
    @include prefixed(transition,
    all 0.25s ease);
}

// Placeholder Color
::-webkit-input-placeholder {
    color: $color__meta;
}

:-moz-placeholder {
    color: $color__meta;
    opacity: 1;
}

::-moz-placeholder {
    color: $color__meta;
    opacity: 1;
}

:-ms-input-placeholder {
    color: $color__meta;
}

.form-control {
    box-shadow: 0 0 0 transparent !important;
}

// Form Controls
.form-controller {
    border: 1px solid $color__border-one;
    background: $color__white;
    width: 100%;
    padding: 0.5em 1em;
    outline: none;
    &:focus {
        border-color: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

// Post password Form
.post-password-form {
    input[type="password"] {
        font-size: 11px;
        border: 1px solid $color__border-four;
        outline: none;
        padding: 7px;
        height: 45px;
    }
    input[type="submit"] {
        padding: 8px 15px;
        position: relative;
        top: 2px;
        height: 45px;
    }
}

.comments-post {
    p {
        border-bottom: 1px solid #8c8c8c !important;
        input {
            padding: 8px 0 !important;
            font-size: 14px;
        }
    }
}

.form-content {
    margin: auto;
    display: table;
    width: 100%;
    .form-group {
        display: table-cell;
        padding: 0 15px;
        vertical-align: middle;
        @media screen and (max-width: 992px) {
            width: 100%;
            display: block;
        }
        input {
            display: block;
            padding: 12px;
            color: #AEAEAE;
            width: 100%;
            border: 1px solid #E7E7E7;
            border-radius: 5px;
            font-size: 12px;
            font-weight: 500;
            @media screen and (max-width: 992px) {
                width: 100%;
            }
        }
    }
    select {
        padding: 12px;
        width: 100%;
        color: #AEAEAE;
        border: 1px solid #E7E7E7;
        border-radius: 5px;
        font-size: 12px;
        font-weight: 500;
        background: transparent url(assets/images/angle.png) no-repeat scroll 95% 50%;
        background-color: #fff;
        -webkit-appearance: button;
        text-transform: capitalize;
        @media screen and (max-width: 992px) {
            width: 100%;
        }
    }
    label {
        text-transform: uppercase;
        margin-bottom: 7px;
        font-size: 14px;
        display: block;
        line-height: normal;
    }
}
.form-bg.border-radius {
    .form-content .form-group.min-price {
        position: relative;
        &:before {
            width: 12px;
            height: 1px;
            top: 57px;
            right: -6px;
        }
    }  
}
.form-content .form-group {
    &.living-area {
        input {
            min-width: 240px;
            background: transparent url(assets/images/cross.png) no-repeat scroll 95% 50%;
            background-color: #fff;
            @media only screen and (max-width: 767px) {
                min-width: 100%;
            }
        }
    }
    &.category-type {
        select {
            min-width: 160px;
        }
    }
    input {
        width: 100%;
    }
}
.availity-button {
    min-width: 245px;
}
.form-top {
    margin-top: -60px;
    z-index: 9;
}
.form-bg.form-top {
    position: relative;
}
.form-bg {
    background-color: #fff;
    padding: 30px 15px;
    box-shadow: -2px 5px 20px rgba(229, 226, 226, 0.4);
    @media screen and (max-width: 990px) {
        padding-bottom: 60px;
    }
}
.form-content .form-group {
    a {
        span {
            background-color: #000;
            padding: 13px 50px;
            font-size: 14px;
            font-weight: bold;
            border-radius: 25px;
            color: #fff;
            top: 40px;
            position: relative;
        }
    }
}

.form-area.form-four {
    .form-bg {
        box-shadow: none;
        position: relative;
    }
    .form-group a span {
        background-color: #21B360;
    }
    h4 {
        position: relative;
        margin: 15px auto;
        display: table;
        color: #000;
        font-family: $font__body;
    }
}
.form-bg.seven {
    .form-group a span {
        border-radius: 5px;
        padding: 13px 66px;
        text-transform: uppercase;
    }
}
.form-bg.seven {
    box-shadow: none;
    padding: 45px 30px;
    border-radius: 5px;
    @media screen and (max-width: 767px) {
        margin-top: 0px;
    }
    .form-group {
        &.button-area {
            margin-bottom: 0;
        }
    }
}
.booking-form {
    .form-bg.seven {
        padding: 30px;
    }
    .error {
        color: #d9534f !important;
        text-transform: capitalize;
    }
}
.form-bg.seven .form-group {
    margin-right: 0;
    width: 100%;
    margin-bottom: 25px;
    &:before {
        width: 13px;
        right: -18px;
    }
    &:first-child {
        input {
            width: 100%;
        }
    }
    &:last-child {
        margin-right: 0;
    }
    select {
        width: 100%;
    }
    a {
        span {
            top: 25px;
        }
    }
}
.form-bg.seven .form-group.small {
    width: 49%;
    input {
        width: 100%;
    }
    @media only screen and (max-width: 992px) {
        width: 100% !important;
    }
}
.form-bg.seven .form-group.small.max {
    margin-right: 0;
}
.form-area.eight .form-group {
    a {
        span {
            background-color: #0E385E;
        }
    }
}
.cr7-shortcode-panel {
    background: #fff;
    padding: 30px;
    input {
        width: 100%;
    }
    .wpcf7-text,
    .wpcf7-textarea,
    .wpcf7-date,
    .wpcf7-quiz {
        border: 1px solid #ebebeb;
        padding: 7px 15px;
    }
    .wpcf7-select {
       width: 100%; 
       padding: 7px 15px;
       border: 1px solid #ebebeb;
    }
    input[type="radio"],
    input[type="checkbox"] {
        width: auto;
        margin-right: 5px;
    }
    div:empty {
        display: none;
    }
    .wpcf7-file {
        background: #f5f5f5;
        padding: 15px;
    }
    form.wpcf7-form {
        > p > label {
            width: 100%;
        }
    }
}
.advance_search_query,
.widget_rental_search {
    .form-content .form-group {
        position: relative;
    }
    .ui-datepicker-trigger {
        background: transparent;
        border: 0 none;
        position: absolute;
        right: 0;
        top: 30px;
        font-size: 14px;
        color: #999;
        z-index: 1;
    }
}


.ui-datepicker.ui-widget-content {
  padding: 15px;
}
.ui-datepicker table {
  margin: 0;
}
.ui-widget-content {
  background: #f3f3f3;
  border: 0;
  color: #333;
  padding: 0;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  background-image: none;
  border: 0;
  -webkit-transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out;
  -moz-transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out;
  -o-transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out;
}
table.ui-datepicker-calendar {
  border-spacing: 1px;
  border-collapse: separate;
}
.ui-datepicker td {
  padding: 0;
  width: 14.2857%;
}
.ui-datepicker td span,
.ui-datepicker td a {
  text-align: center;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.ui-datepicker .ui-widget-header {
  border-color: transparent;
  background-color: transparent;
  background-image: none;
  color: inherit;
}
.ui-datepicker .ui-widget-header .ui-icon {
  background-image: none;
  text-indent: 0;
  height: 24px;
  margin-top: -12px;
}
.ui-datepicker .ui-datepicker-prev-hover {
  top: 2px;
  left: 2px;
}
.ui-datepicker .ui-datepicker-next-hover {
  top: 2px;
  right: 2px;
}
.ui-datepicker .ui-state-hover .ui-icon,
.ui-datepicker .ui-state-focus .ui-icon {
  background-image: none;
}
.ui-datepicker .ui-icon {
  color: #333;
}
.ui-datepicker td {
    font-weight: normal;
}
table.ui-datepicker-calendar {
    border: 0 none;
}
.ui-datepicker:not(.ui-datepicker-inline) {
  margin-top: 2px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.ui-datepicker-inline {
  width: 100%;
}
.ui-datepicker-inline .css-class-to-highlight.selected a {
  background-image: none !important;
}
.ui-datepicker-inline .css-class-to-highlight.unavailable a {
  background-image: none !important;
}
.date-picker-inline td.ui-state-disabled span.ui-state-default,
.ui-datepicker-inline a {
  height: 35px;
}
.ui-state-default {
    color: inherit !important;
}
.ui-state-highlight {
    background: #333 !important;
    color: #fff !important;
}
td {
    .ui-state-default {
      background: #fff !important;
      color: #333 !important;
      margin-bottom: 1px;
    }  
}
td {
  .ui-state-hover {
      background: #333 !important;
      color: #fff !important;
  }  
}
.ui-datepicker .ui-datepicker-title {
    margin: 0 2.3em;
    line-height: 1.5em !important;
    text-align: center;
    margin-bottom: 12px !important;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  background-image: none;
  background-color: transparent;
  border-color: transparent;
}
.ui-datepicker .ui-datepicker-prev span:before {
  font-family: fontawesome;
  content: "\f137";
  padding-left: 1px;
}
.ui-datepicker .ui-datepicker-next span:before {
  font-family: fontawesome;
  content: "\f138";
  padding-left: 1px;
}
