body {
	font-family: "Poppins", sans-serif;
	font-size: 15px;
    line-height: 1.45em;
    color: #4b4b4b;
}
.editor-post-title__block .editor-post-title__input {
	font-size: 38px;
	font-weight: 900;
	margin: 0;
	text-transform: capitalize;
    font-family: "Poppins", sans-serif;
}
.wp-block-paragraph {
	font-size: 15px;
	color: #4b4b4b;
    line-height: 1.875em;
}
a {
	color: inherit;
}
blockquote {
    font-family: Playfair Display !important;
    font-style: italic;
    font-size: 22px;
    line-height: 35px;
    position: relative;
    color: #737373;
    border-left: 5px solid #eee !important;
}
.wp-block-pullquote blockquote {
    border-left: 0 none !important; 
}
h1, h2, h3, h4, h5, h6 { font-family: Playfair Display; color: #3d4348; margin-bottom: .5rem; margin-top: 0;}
h1 { font-size: 2.441em;}h2 { font-size: 1.953em;}h3 { font-size: 1.563em;}h4 { font-size: 1.25em;}h5 { font-size: 1em;}h6 { font-size: 0.8em;}
pre {
    background: #f8f8f8;
    padding: 20px 30px;
    margin-bottom: 30px;
    max-width: 100%;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    font-size: 0.929em;
    overflow: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
}
ul:not(.wp-block-gallery) li {
	line-height: 1.975em;
	margin-top: 5px;
}
ol:not(.wp-block-gallery) li {
	line-height: 1.975em;
	margin-top: 5px;
}
.wp-block-table td, .wp-block-table th {
    border-color: #d2d2d2;
}