/* ====== Contact Section ====== */
.heading-content-two.available {
	margin-bottom: 60px;
}

.contact-area {
	padding: 60px 0 75px;
	overflow: hidden;
	&.pd-zero {
		.map-left-content {
			iframe {
				min-height: 570px;
			}
		}
		.heading-content-two.available {
			margin-bottom: 30px;
		}
		.heading-content-two h2.title {
			margin-top: 45px;
		}
		.map-right-content {
			@media only screen and (min-width: 1400px) {
				max-width: 85% !important;
			}
		}
		.col-md-5 {
			@media only screen and (min-width: 1950px) {
				max-width: 789px;
			}
		}
	}
	.map-left-content {
		iframe {
			width:100%;
		}	
	}
	@media screen and (max-width: 990px) {
		padding:15px;	
	}
	.contact {
		margin-bottom: 30px;
		h4 {
			font-size: 20px;
			color: #0E385D;
			font-family: inherit !important;
			font-weight: 700;
			i {
				color: #0E385D;
				font-size: 30px;
				margin-right: 10px;
			}
			.fa-user {
				background-color: #0E385D;
				border-radius: 50%;
				color: #fff;
				width: 40px;
				height: 40px;
				text-align: center;
				line-height: 36px;
			}
		}
		p {
			color: #414141;
		    font-weight: 600;
		    margin-top: 20px;
		    font-size: 16px;
		}
		.social-icon {
			margin-top: 20px;
			i {
				background-color: #515151;
				padding: 9px;
				width: 35px;
				height: 35px;
				text-align: center;
				line-height: 17px;
				font-size: 15px;
				color: #fff;
				border-radius: 50%;
				margin-right: 5px;
			}
		}
	}
}

/* =========contact us============ */
.contact-us-area {
	margin-bottom: 70px;
	.contact {
		h4 {
			font-size: 22px;
			color: #0E385D;
			font-family: $font__body;
			font-weight:bold;
			i {
				color: #0E385D;
				font-size: 30px;
				margin-right: 10px;
			}
			.fa-user {
				background-color: #0E385D;
				border-radius: 50%;
				color: #fff;
				width: 40px;
				height: 40px;
				text-align: center;
				line-height: 36px;
			}
		}
		p {
			color: #414141;
		    font-weight: bold;
		    margin-top: 20px;
		    letter-spacing: 0.5px;
		    font-size: 16px;
		    margin-bottom: 50px;
		}
		.social-icon {
			margin-top: 20px;
			i {
				background-color: #515151;
				padding: 9px;
				width: 35px;
				height: 35px;
				text-align: center;
				line-height: 17px;
				font-size: 15px;
				color: #fff;
				border-radius: 50%;
				margin-right: 5px;
			}
		}
	}
}
.contact-us-area {
	.contact-us-heading-content {
		text-align:center;	
		margin-bottom: 30px;	
	}
	.title {
		font-family: inherit !important;
		margin-top: 30px !important;
	}
	.contact-us-content-right {
		text-align:center;
		h3 {
			font-family: $font__body;
			font-weight:bold;
			color:$color__heading;
		}
		img {
			width:auto;
			position: relative;
			top: 25px;
		}
		textarea {
			padding: 6px 12px;
		}
	}
}
.map-right-content {
	@media only screen and (min-width: 1450px) {
		max-width: 95%;
		margin: auto;
	}
	@media only screen and (max-width: 1200px) {
		padding: 0 15px;
	}	
	@media only screen and (max-width: 850px) {
		padding: 0 20px;
	}	
	@media only screen and (max-width: 767px) {
		padding: 0 30px;
	}
}
.container-large-device {
	> .container-fluid > .row:last-child {
		@media only screen and (min-width: 992px) {
			display: table;
			width: 100%;
		}
		> .col-md-7,
		> .col-md-5 {
			@media only screen and (min-width: 992px) {
				display: table-cell;
				vertical-align: middle;
				float: none;
			}
		}
	}
}
.input-content {
	border: 1px solid#DDDDDD;
	padding: 45px;
	border-radius: 10px;
	background-color: #FAFAFA;
	@media only screen and (max-width: 767px) {
		padding: 30px;
	}
	h4 {
		font-size: 24px;
		font-family: inherit !important;
		text-align: center;
		margin-bottom: 60px;
		font-weight:bold;
		color:$color__heading;
	}
	input {
		border: none;
		box-shadow: none;
		border-bottom: 1px solid #DDDDDD;
		border-radius: 0;
		margin-bottom: 30px;
		font-size: 15px;
		margin-right: 50px;
		color:#8c8c8c;
		background-color: #FAFAFA;
		@media screen and (max-width: 990px) {
			width:100%;
		}
	}
	textarea {
		border: none;
		border-bottom: 1px solid #dddddd;
		color: #8c8c8c;
		width: 100%;
		font-size: 15px;
		background-color: #FAFAFA;
		min-height: 150px;
	}
	.subimt-button {
		margin: 0px auto 0;
		display: table;
		input[type="submit"] {			
			padding: 17px;
		    color: #fff;
		    width: 190px;
		    text-transform: uppercase;
		    font-weight: bold;
		    letter-spacing: 1px;
		    margin: auto;
		    border-radius:5px;
		}
	}
}

span.wpcf7-not-valid-tip {
	color: #df2626;
    display: block;
    font-size: 0.8em;
    margin-bottom: -10px;
    position: absolute;
    bottom: 10px;
    left: 26px;
}
div.wpcf7-validation-errors {
	border: 1px solid #efdf35;
	color: #df2626;
}
div.wpcf7-mail-sent-ng {
	border: 1px solid #df2626;
} 
div.wpcf7-response-output {
	padding: 0.4em 1em;
	margin: 0;
}
.wpcf7-mail-sent-ok {
	border-width: 1px;
}