

/* page link pagination */
.entry-content {
	.page-links {
		> a {
			border: 1px solid #333;
			font-size: 0.8em;
    		padding: 0.4em 0.8em;
    		border-radius: 3px;
    		color: #333 !important;
		}
		> span {
			border: 1px solid #333;
			background: #333 !important;
			font-size: 0.8em;
    		padding: 0.4em 0.8em;
    		color: #ffffff;
    		border-radius: 3px;
		}
	}
}
/*==================================
pagination
================================= */
.pagination-link {
	ul {
		li {
			a, .dots {
				border: none;
			    margin-right: 10px;
			    border-radius: 15px;
			    color: #000;
			    font-weight: bold;
			    margin-bottom: 5px;
			    i {
			    	font-weight:bold;
			    }
			}

		}
		li.active {
			a {
				background-color: #494949;
				color:#fff;
			}
		}
	}
	.pagination > li:last-child > a {
		border-top-right-radius: 15px;
		border-bottom-right-radius: 15px;
	}
	.pagination > li:first-child > a {
		border-top-left-radius: 15px;
		border-bottom-left-radius: 15px;
	}
}
/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs-area {
	overflow: hidden;
	.breadcrumbs {
		font-weight: 600;
		font-size: 15px;
		position: relative;
		padding: 15px 0;
		margin: 0;
		.last-item {
			color: #999999;
		}
		.separator {
			color: #999999;
			font-weight: normal;
		}
	}
}