.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}
.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}
.comments-main-content {
	border-radius: 5px;
	background-color: #ffffff;
	padding: 75px;
	margin-bottom: 30px;
	overflow: hidden; 
	@media only screen and (max-width: 992px) {
		padding: 60px;
	}	
	@media only screen and (max-width: 800px) {
		padding: 45px;
	}	
	@media only screen and (max-width: 767px) {
		padding: 30px;
	}	
	@media only screen and (max-width: 530px) {
		padding: 30px 20px 20px;
	}
}
.comment-reply-title {
	font-weight: bold;
	font-size: $heading__four;
	margin: 0 auto 45px;
	background: $color__white;
	font-size: 26px;
	font-weight: 800;
	text-align: center;
	font-family:inherit !important;
	span {
		position: relative;
		background: $color__white;
		z-index: 20;
	}
}
.cancel-comment-reply-link {
	bottom: -2px;
	display: inline-block;
	left: 0.6em;
	position: relative;
}
.logged-in-as {
	margin-bottom: 0.7em !important;
	padding: 0 15px;
}
.comment-content {
	li {
		line-height: 1.975em;
		margin-top: 5px;
	}
	> ul > li:first-child,
	> ol > li:first-child {
		margin-top: 0;
	}
	> ul,
	> ol {
		margin-bottom: 15px;
		padding-left: 20px;
	}
	> ul:last-of-type,
	> ol:last-of-type {
		margin-bottom: 0;
	}
	> p:last-of-type {
		margin-bottom: 0;
	}
}
.comments-area {
	.comment-list, .children {
		list-style: none;
		padding: 0;
	}
	.comments-title {
		font-size: 25px;
	    font-weight: bold;
	    text-align: center;
	    font-family: inherit !important;
	    margin-top: -15px;
	    margin-bottom: 45px;
	    @media only screen and (max-width: 767px) {
	    	margin-top: 0;
	    }
		span {
			background: $color__white;
			z-index: 10;
	    	position: relative;
		}
	}
	.comment-list {
		margin-bottom: 0;
		border-top: none;
	}
	.comment-body {
		overflow: hidden;
		margin-bottom: 45px;
		background: $color__white;
	}
	.comment-list > li.comment:last-child .comment-body {
		margin-bottom:0;
	}	
	.comment-list > li.comment:last-child .comment-body + .children {
		margin-top: 45px;
	}

	.author-img {
		.avatar.photo {
			width: 80px;
			height: 80px;
			float: left;
			margin-right: 15px;
			border-radius: 50%;
		}
	}
	.date {
		display: block;
		font-size: 12px;
		color: #a0a0a0;
		margin-top: 5px;
		font-weight: 600;
	}
	.reply {
		margin-top: 20px;
	}
	.comment-details {
		@include table_display;	
	}
	.comment-details {
		overflow: hidden;
	} 
	.comment-metadata {
	    margin-bottom: 0.5em;
	    color: $color__heading; 
	    .author {
	    	font-size: 18px;
	    }
	    .says, .comment-edit-link {
	    	color: #777;
	    }
	}
	.children {
		margin-left: 108px;
	}
	.comment-navigation {
		 margin-top: 30px;
		.nav-links {
			.nav-previous {
				float: left;
			}
			.nav-next {
				float: right;
			}
			span {
				font-size: 18px;
			}	
			a {
				color: #777;
				padding: 0.5em 0;
			}
		}
	}
	.comment-respond {
		position: relative;
	}
}
.comment-respond {
	p {
		margin-bottom: 1em;
		
	}
	.form-submit {
		margin-bottom: 0;
	}
	.comment-subscription-form {
		display: none;
	}
	input {
		color: #8c8c8c;
		border: 0 none;
		border-bottom: 1px solid #dad2d2;
		width: 100%;
	}
	textarea {
		color:#8c8c8c;
		border: 0 none;
		height: 75px;
		width: 100%;
		border-bottom: 1px solid #dad2d2;
		@include prefixed(transition, max-height 0.45s ease);
		@include prefixed(backface-visibility, hidden);
	}
}
li.comment .comment-respond {
	background: #F7F7F7;
	border-radius: 5px;
	.form-controller {
		background: transparent;
	}
	.comment-form {
		padding: 0 30px 30px;
		margin-bottom: 45px;
	}

}
.page-content .comment-respond {
	overflow: hidden;
}

.comment-reply-link {
    padding: 6px 22px;
    font-size: 11px;
    line-height: normal;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    background-color: $color__heading;;
    color: white;
    border-radius: 25px;
}
.page-content + .comment-respond .comments-main-content {
	margin-bottom: 45px;
}