.sticky {
	display: block;
}
.hentry {
	margin: 0 0 75px;
}
.entry-content {
	margin: 1.45em 0 0;
}
.entry-summary {
	margin: 1.45em 0;
}
.page-links {
	clear: both;
	margin: 0 0 2.1em;
}
/*--------------------------------------------------------------
# Page Heading
--------------------------------------------------------------*/
.header-title {
	text-align: center;
	margin-bottom: 30px;
}
.page-header {
	margin: 0;
	padding: 60px 0;
	text-align: center;
}
/*--------------------------------------------------------------
# Post
--------------------------------------------------------------*/
.post {
	background-color: #fff;
	margin-bottom: 30px;
	border-radius: 5px;
	overflow: hidden;
	position: relative;
	.post-content {
		padding: 20px;
	}
	.entry-meta {
		color: #9a9a9a;
		font-size: 13px;
		letter-spacing: 0.02em;
		font-weight: 600;
		font-style: normal;
		text-transform: capitalize;
	    .devied {
	    	background-color: #9a9a9a;
    	    width: 2px;
    	    height: 10px;
    	    display: inline-block;
    	    margin-right: 10px;
    	    margin-left: 10px;
	    }
	}
	.entry-header {
		.blog-title {
			line-height: 30px;
			border-bottom: 1px solid #E1E1E1;
			padding-bottom: 15px;
			font-size: 20px;
			margin-top: 15px;
			font-weight: 800;
			font-family: inherit !important;
		}
	}
	.entry-footer-meta {
		i {
			margin-right: 5px;
		}
		span {
			margin-right:10px;
		}
		.like {
			i {
				color:#5ED8E1;
			}
		}
		.comments {
			i {
				color:#7CC144;
			}
		}
	}
	&.sticky {
		&:before {
			content: "\f006";
			font-family: FontAwesome;
			position: absolute;
			right: 0;
			bottom: 52px;
			font-size: 150px;
			color: #f7f7f7;
			z-index: 0;
		}
	}
	.post-content {
		position: relative;
		z-index: 1;
	}
}
.entry-meta {
	color: $color__meta;
	font-size: 11px;
	letter-spacing: 0.04em;
	font-weight: bold;
	font-style: italic;
	a {
		color: inherit;
	}
	.entry-date {
		display: inline-block;
	}
	.entry-like {
		.sl-wrapper > a > span {
			display: inline-block;
		}
		.fa-heart.unlike,
		.fa-heart-o.like {
			color: #5ED8E1
		}
		.sl-count {
			color: #828282;
		}
	}
}
.post {
	.post-thumb {
		overflow: hidden;
		clear: both;
		border-radius: 5px;
		img {
			display: block;
			margin: auto;
		}
	}
	.entry-footer {
		font-size: 13px;
		font-weight: 500;
	}
}
.blog-menu-mobile {
	width: 100%;
	border: 2px solid #31386e;
	padding: 15px;
	border-radius: 5px;
	margin-bottom: 30px;
}
.single-main-content {
	article.post, 
	article.page {
		li {
			line-height: 1.975em;
			margin-top: 5px;
		}
		.entry-content > ul > li:first-child,
		.entry-content > ol > li:first-child {
			margin-top: 0;
		}
		.entry-content > ul,
		.entry-content > ol {
			margin-bottom: 15px;
			padding-left: 20px;
		}
		.entry-content > ul:last-of-type,
		.entry-content > ol:last-of-type {
			margin-bottom: 0;
		}
	}
}
.page-content .single-main-content {
	margin-bottom: 30px;
}

body > .alert:first-of-type {
	margin-bottom: 0;
	border-radius: 0;
}

.fw-row .blog-area {
	background: transparent;
}
.entry-meta + .entry-footer {
	margin-top: 15px;
}